@model TesteBackend8.Models.ViewModels.AlunoFormViewModel
@{
    ViewData["Title"] = "Editar";
}

<h2>@ViewData["Title"]</h2>

<h4>Aluno</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Aluno.Id" />
            <div class="form-group">
                <label asp-for="Aluno.Nome" class="control-label"></label>
                <input asp-for="Aluno.Nome" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Aluno.Nota1" class="control-label"></label>
                <input asp-for="Aluno.Nota1" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Aluno.Nota2" class="control-label"></label>
                <input asp-for="Aluno.Nota2" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Aluno.Nota3" class="control-label"></label>
                <input asp-for="Aluno.Nota3" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Aluno.Nota4" class="control-label"></label>
                <input asp-for="Aluno.Nota4" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Aluno.TurmaId" class="control-label"></label>
                <select asp-for="Aluno.TurmaId" asp-items="@(new SelectList(Model.Turmas,"Id","Nome"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-primary">Voltar</a>

            </div>
        </form>
    </div>
</div>
